---
---

$main-color: #4C9BFF;
$text-dark: #2B2B2B;
$background-color: white;
$page-width: 42em;
$page-max-width: 80%;

%page-blocks {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: $page-width;
  max-width: $page-max-width;
}

body {
  margin: 0;
  padding: 0;
  color: $text-dark;
  background-color: $background-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  background-color: $main-color;
  text-align: center;
  border-bottom: 6px double white;

  div {
    @extend %page-blocks;
    padding-top: 80px;
  }

  h1 {
    color: white;
    text-shadow: 0 -2px 14px darken($main-color, 30%);
    margin: 0;
    position: relative;
    bottom: -8px;
    text-transform: lowercase;
    font-size: 95px;
    font-weight: bold;
    letter-spacing: -2px;

    @media (max-width: 500px) {
      bottom: -5px;
      font-size: 60px;
    }

    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

nav {
  @extend %page-blocks;
  margin-top: 40px;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 4px 0;
      &.active a {
        background-color: lighten($main-color, 20%);
        text-decoration: none;
      }
    }
    li + li {
      margin-left: 2px;
    }
    a {
      display: inline-block;
      padding: 5px 15px;
      text-decoration: none;
      background-color: white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom: 2px solid darken($main-color, 5%);
      color: darken($main-color, 5%);
      &:hover {
        background-color: lighten($main-color, 20%);
        text-decoration: none;
      }
    }
  }
}

div.full-height {
  min-height: 100vh;
}

main {
  @extend %page-blocks;
  margin-top: 40px;
  margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  color: darken($main-color, 5%);
  margin: 0;
  margin-bottom: 10px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 40px;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 17px;
  margin-bottom: 6px;
}

h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

p, li {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

p {
  margin-bottom: 24px;
  text-align: justify;

  &.date {
    font-size: 10px;
  }
}

a {
  color: darken($main-color, 10%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul  {
  margin-top: 0;
}
p + ul {
  margin-top: -20px;
}

img, iframe.border {
  max-width: 100%;
  border: 1px solid $main-color;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 5px;
}

img.me {
  width: 100vw;
  display: block;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}

img.emoji {
  vertical-align: sub;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}

.ribbon {
  display: block;
  background-color: $background-color;
  position: absolute;
  top: 0;
  right: 0;
  color: $text-dark;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 12px;
    box-shadow: 0 0 10px darken($main-color, 30%);

  @media(max-width: 500px) {
    display: none;
  }
}

// Blog posts
section.read-it-later,
form.newsletter {
  width: 70%;
  margin-left: auto;
  background-color: rgba($main-color, 0.25);
  padding: 20px;
  border-radius: 5px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 60px;

  p {
    margin: 0;
    text-align: center;
  }

  p + p {
    margin-top: 10px;
  }
}

p.meta {
  font-style: italic;
  color: #868686;
}

// Form
input {
  line-height: inherit;
  font-size: inherit;
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid white;
  background: white;

  &[type="submit"] {
    background: $main-color;
    color: white;
    cursor: pointer;
  }
}

span.dates {
  color: $main-color;
}

[title] {
  cursor: help;
  border-bottom: 1px dashed grey;
}

ul.no-styling {
  list-style-type: none;
  padding: 0;
}
