<!DOCTYPE HTML>
<html>
  <head>
    <title>Las Palmas</title>
    <meta name="description" content="Adriaan is going to Las Palmas, what can you learn from that?">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="icon" type="image/png" href="/images/blue-sun.png">
  </head>
  <body>
    <div class="full-height">
      <header>
        <div>
          <h1><a href="/">Las Palmas</a></h1>
        </div>
      </header>
      <nav>
        <div>
          <ul>
            <li {% if page.name == 'index.md' %}class="active"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li {% if page.name == 'visitors.md' %}class="active"{% endif %}>
              <a href="/visitors">Tips for visitors</a>
            </li>
            <li {% if page.name == 'movers.md' %}class="active"{% endif %}>
              <a href="/movers">Tips for movers</a>
            </li>
            <li {% if page.name == 'my-place.md' %}class="active"{% endif %}>
              <a href="/my-place">My place</a>
            </li>
            <li {% if page.name == 'about.md' %}class="active"{% endif %}>
              <a href="/about">About me</a>
            </li>
          </ul>
        </div>
      </nav>

      <a class="ribbon" target="_blank" href="https://github.com/harianus/laspalmas.adriaan.io/edit/gh-pages/{{ page.name }}">
        Improve my grammar on GitHub
      </a>

      <main>
        <h2>{{ page.title }}</h2>

        {{ content }}
      </main>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-243569-39', 'auto');
      ga('send', 'pageview');
    
    </script>
  </body>
</html>
